<template name="parentAddStudent">
  <div class="" id="enrollment-form-sec">
    <div class="top-border" id="about-us">

    </div>
      <div class="container padding-30 background-grey">
          <div class="col-md-10 col-md-push-1">
              <h1 class="form-title">Student Enrollment</h1>
              <p class="form-text">Please complete this form for your child to enroll in our programs.</p>
              <form class="general-form" id="parentAddStudent">
                  <div class="row padding-10">
                      <div class="form-group">
                          <h2 style="color: #4BADA2"><span class="glyphicon glyphicon-user"></span> Student Profile</h2>
                          <p style="color: #4BADA2; font-style: italic">Words words more words</p>
                      </div>
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="form-group">
                                  <label class="control-label" for="first_name">First Name</label>
                                  <input name="first_name" id="first_name" type="text" value="" class="form-control" />
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="form-group">
                                  <label class="control-label" for="last_name">Last Name</label>
                                  <input name="last_name" id="last_name" type="text" value="" class="form-control" />
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="form-group">
                                  <label class="control-label" for="dob">Date of Birth</label>
                                  <input name="dob" id="dob" type="date" value="" class="form-control" />
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="form-group">
                                  <label class="control-label" for="gender">Gender</label>
                                  <div id="gender">
                                      <label class="checkbox-inline">
                                          <input type="checkbox" name="gender" value="Male">Male</label>
                                      <label class="checkbox-inline">
                                          <input type="checkbox" name="gender" value="Female">Female</label>
                                      <label class="checkbox-inline">
                                          <input type="checkbox" name="gender" value="Other" id="otherGender">Other</label>
                                      <br>
                                      <label class="hidden control-label" name="otherGenderLabel">Please specify:</label>
                                      <input type="text" class="hidden form-control" name="otherGenderText" value="">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="form-group">
                                  <label class="control-label" for="race_ethnicity">Race/Ethnicity</label>
                                  <div class="container" id="race_ethnicity">
                                      <label class="checkbox-inline no_indent">
                                          <input type="checkbox" name="race_ethnicity" value="White">White</label>
                                      <label class="checkbox-inline no_indent">
                                          <input type="checkbox" name="race_ethnicity" value="Hispanic or Latino">Hispanic or Latino</label>
                                      <label class="checkbox-inline no_indent">
                                          <input type="checkbox" name="race_ethnicity" value="Black or African American">Black or African American</label>
                                      <label class="checkbox-inline no_indent">
                                          <input type="checkbox" name="race_ethnicity" value="Native American or American Indian">Native American or American Indian</label>
                                      <label class="checkbox-inline no_indent">
                                          <input type="checkbox" name="race_ethnicity" value="Asian / Pacific Islander">Asian / Pacific Islander</label>
                                      <label class="checkbox-inline no_indent">
                                          <input type="checkbox" name="race_ethnicity" value="Other" id="otherRace">Other</label>
                                  </div>
                                  <label class="hidden control-label" name="otherRaceLabel">Please specify:</label>
                                  <input type="text" class="hidden form-control" name="otherRaceText" value="">
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="form-group">
                                  <label class="control-label" for="pictures_allowed">May pictures of this student be used for our website or other promotional content?</label>
                                  <div>
                                      <input type="radio" name="pictures_allowed" value="Yes">Yes
                                      <br>
                                      <input type="radio" name="pictures_allowed" value="No">No
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="row padding-10">
                      <div class="form-group">
                          <h2 style="color: #4BADA2"><span class="glyphicon glyphicon-list-alt"></span> Program</h2>
                          <p style="color: #4BADA2; font-style: italic">Select the type of program you want to enroll your child in,
                            then the location and time. Click 'Select' to save this choice. You can enroll in as many programs
                            as you'd like.</p>
                            <div class="form-group">
                              <input type="hidden" name="enrolledPrograms" id="enrolledPrograms">
                            </div>
                      </div>
                      {{#if enrolledProgramsTrue}}
                      <div class="row">
                          <div class="form-group">
                              <h3>Selected Programs:</h3>
                              {{#each enrolledPrograms}}
                              {{> enrolledProgramItem}}
                              {{/each}}
                          </div>
                      </div>
                      {{/if}}
                      <div class="col-sm-4">
                          <div class="form-group">
                              <p>Would you like to enroll in a...</p>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group">
                              <div>
                                  <select name="program_type" id="program_type" class="form-control">
                                      <option disabled selected value> -- select an option -- </option>
                                      <!--<option value="Summer Camp">Summer Camp</option>-->
                                      <option value="Community Center">Community Center Class</option>
                                      <option disabled value>more coming soon...</option>
                                  </select>
                              </div>
                          </div>
                      </div>

                      <div class="col-sm-6">
                          <div class="form-group">
                              <label class="control-label" for="program_location">Location</label>
                              <select name="program_location" id="program_location" class="form-control">
                                  {{#each programLocations}}
                                  <option value="{{name}}">{{name}}</option>
                                  {{/each}}
                              </select>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label class="control-label" for="program_time">Time</label>
                              <select name="program_time" id="program_time" class="form-control">
                                  {{#each programTimes}}
                                  <option value="{{_id}}">
                                      {{#if summerCamp}} {{session_start_date}} - {{session_end_date}}, {{/if}} {{day_of_week}}, {{timeFormat start_time}} - {{timeFormat end_time}}</option>
                                  {{/each}}
                              </select>
                          </div>
                      </div>
                      {{#if summerCamp}}
                      <div class="col-sm-12">
                        <div class="form-group">
                          <p>Before and after care (one hour before and one hour after class) can be selected at checkout</p>
                        </div>
                      </div>
                      {{/if}}
                      <div class="col-sm-6 col-sm-push-6">
                          <input type="button" class="btn pull-right blue-button" value="Select" id="anotherProgram">
                      </div>
                  </div>
                  <div class="row padding-10">
                      <div class="form-group">
                          <h2 style="color: #4BADA2"><span class="glyphicon glyphicon-education"></span> Education History</h2>
                          <p style="color: #4BADA2; font-style: italic">Words words more words</p>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label class="control-label" for="current_grade">Current Grade</label>
                              <div>
                                  <select name="current_grade" id="current_grade" class="form-control">
                                      {{#each gradeLevel}}
                                      <option value="{{this}}">{{this}}</option>
                                      {{/each}}
                                  </select>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label class="control-label" for="elm_school">Elementary School
                                  <p class="help-block" style="display: inline; font-style: italic;">if applicable</p>
                              </label>
                              <input name="elm_school" id="elm_school" type="text" value="" class="form-control" />
                          </div>
                      </div>

                      <div class="col-sm-6">
                          <div class="form-group">
                              <label class="control-label" for="middle_school">Middle School
                                  <p class="help-block" style="display: inline; font-style: italic;">if applicable</p>
                              </label>
                              <input name="middle_school" id="middle_school" type="text" value="" class="form-control" />
                          </div>
                      </div>

                      <div class="col-sm-6">
                          <div class="form-group">
                              <label class="control-label" for="high_school">High School
                                  <p class="help-block" style="display: inline; font-style: italic;">if applicable</p>
                              </label>
                              <input name="high_school" id="high_school" type="text" value="" class="form-control" />
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-4 col-sm-push-4 text-center" style="padding-bottom: 10px">
                      <button type="submit" class="btn btn-block blue-button">Submit</button>
                  </div>
              </form>
          </div>
          <div class="modal fade" id="anotherStudent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog modal-sm" role="document">
                  <div class="modal-content">
                      <div class="modal-header" style="background-color: #4BADA2">
                          <h4>Enroll another student?</h4>
                          <br>
                          <button type="submit" class="btn btn-default reg-btn" id="yes">Yes</button>
                          <button type="submit" class="btn btn-default reg-btn" id="no">No</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <footer>
		<div class="row">
			<div class="col-xs-12 sec-text-small">
				<a class="footer-text" href="#">Support Us</a> |
				<a class="footer-text" href="https://github.com/codedbykids/presskit">Press</a> |
				<a class="footer-text" href="#">Careers</a> |
				<a class="footer-text" href="#">Blog</a> |
				<a class="footer-text" href="#">Facts</a> |
				<a class="footer-text" href="http://www.cafepress.com/thecodedbykidsmerchshop">Shop</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" id="social">
				<a href="https://www.facebook.com/codedbykids/"><i class="fa fa-facebook-square fa-3x img-light social-icons" aria-hidden="true"></i></a>
				<a href="https://twitter.com/codedbykids"><i class="fa fa-twitter-square fa-3x img-light social-icons" aria-hidden="true"></i></a>
				<a href="https://www.instagram.com/codedbykids/"><i class="fa fa-instagram fa-3x img-light social-icons" aria-hidden="true"></i></a>
				<a href="https://www.linkedin.com/company/coded-by-kids?trk=biz-companies-cym"><i class="fa fa-linkedin-square fa-3x img-light social-icons" aria-hidden="true"></i></a>
				<a href="https://github.com/codedbykids-curriculum"><i class="fa fa-github-square fa-3x img-light social-icons" aria-hidden="true"></i></a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 sec-text-small">
				<p>
					&copy; 2016 Coded by Kids.
				</p>
			</div>
		</div>
	</footer>
</template>
