<template name="registrationSuccessful">
    <div class="" id="enrollment-form-sec">
        <div class="top-border" id="contact-form">

        </div>
        <div class="row text-center">
            <h1>Registration Successful!</h1>
            <h3>We'll email you to process the payment soon!</h3>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col-xs-12 sec-text-small">
                <a class="footer-text" href="#">Support Us</a> |
                <a class="footer-text" href="https://github.com/codedbykids/presskit">Press</a> |
                <a class="footer-text" href="#">Careers</a> |
                <a class="footer-text" href="#">Blog</a> |
                <a class="footer-text" href="#">Facts</a> |
                <a class="footer-text" href="http://www.cafepress.com/thecodedbykidsmerchshop">Shop</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="social">
                <a href="https://www.facebook.com/codedbykids/"><i class="fa fa-facebook-square fa-3x img-light social-icons" aria-hidden="true"></i></a>
                <a href="https://twitter.com/codedbykids"><i class="fa fa-twitter-square fa-3x img-light social-icons" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/codedbykids/"><i class="fa fa-instagram fa-3x img-light social-icons" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/company/coded-by-kids?trk=biz-companies-cym"><i class="fa fa-linkedin-square fa-3x img-light social-icons" aria-hidden="true"></i></a>
                <a href="https://github.com/codedbykids-curriculum"><i class="fa fa-github-square fa-3x img-light social-icons" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 sec-text-small">
                <p>
                    &copy; 2016 Coded by Kids.
                </p>
            </div>
        </div>
    </footer>
</template>
