<template name="thankYou">
	<div class="top-border" id="about-us">

	</div>
	 <div class="container padding-20">
    	<div class="col-md-8 col-md-push-2 text-center">
    		<h1>Thanks for your donation!</h1>
    		<p>Something about how much it means to us/what their donation will do/whatever</p>
    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac felis risus. Curabitur mauris eros, vulputate quis porttitor id, commodo non magna. Integer iaculis, tortor eu semper malesuada, tellus risus maximus velit, eu varius ligula turpis quis mauris. Vestibulum ex est, pretium vel elit vel, eleifend aliquet nulla. Cras vulputate mi vulputate neque pulvinar, a iaculis dui congue. </p>
    	</div>
    </div>
</template>