<!--linked to from coded by kids site-->
<template name="contactForm">
	<div class="" id="contact-form-sec">
		<div class="top-border" id="contact-form">

		</div>

		<div class="col-md-4">

		</div>
		<div class="col-md-4 general-contact">
			<form id="contactForm">
				<div class="form-group">
					<h1 class="form-title">Contact Us</h1>
					<br>
					<p class="form-text"><span style="color:red">*</span>Required field</p>
				</div>
				<div class="form-group">
					<label class="control-label" for="first_name">First Name <span style="color:red">*</span></label>
					<div>
						<input name="first_name" id="first_name" type="text" value="" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="last_name">Last Name</label>
					<div>
						<input name="last_name" id="last_name" type="text" value="" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="email">Email Address <span style="color:red">*</span></label>
					<div>
						<input name="email" id="email" type="email" value="" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="first_name">Are you a... <span style="color:red">*</span></label>
					<div>
						<select name="type" id="type">
							<option value="Parent">Future Coded by Kids Parent</option>
							<option value="Educator">Educator</option>
							<option value="Volunteer">Future Coded by Kids Volunteer</option>
							<option value="Supporter">Future Coded by Kids Supporter</option>
							<option value="Partner">Potential Partner</option>
							<option value="Other">Other</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="subject">Subject <span style="color:red">*</span></label>
					<div>
						<input name="subject" id="subject" type="text" value="" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="Message">Message <span style="color:red">*</span></label>
					<div>
						<textarea name="message" rows="4" style="width: 100%" id="subject" type="text" value="" class="form-control"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="alert alert-success hidden" id="success">
						We'll get back to you soon!
					</div>
					<div class="alert alert-danger hidden" id="error">
						Oops! There was an error. Please try again or email us at info@codedbykids.com
					</div>
				</div>
				<div id="contact-submit" class="">
					<input type="submit" value="Submit" class="btn btn-primary btn-block">
				</div>
			</form>
			<div class="col-md-4">

			</div>
		</div>
	</div>
	<footer>
		<div class="row">
			<div class="col-xs-12 sec-text-small">
				<a class="footer-text" href="#">Support Us</a> |
				<a class="footer-text" href="https://github.com/codedbykids/presskit">Press</a> |
				<a class="footer-text" href="#">Careers</a> |
				<a class="footer-text" href="#">Blog</a> |
				<a class="footer-text" href="#">Facts</a> |
				<a class="footer-text" href="http://www.cafepress.com/thecodedbykidsmerchshop">Shop</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" id="social">
				<a href="https://www.facebook.com/codedbykids/"><i class="fa fa-facebook-square fa-3x img-light social-icons" aria-hidden="true"></i></a>
				<a href="https://twitter.com/codedbykids"><i class="fa fa-twitter-square fa-3x img-light social-icons" aria-hidden="true"></i></a>
				<a href="https://www.instagram.com/codedbykids/"><i class="fa fa-instagram fa-3x img-light social-icons" aria-hidden="true"></i></a>
				<a href="https://www.linkedin.com/company/coded-by-kids?trk=biz-companies-cym"><i class="fa fa-linkedin-square fa-3x img-light social-icons" aria-hidden="true"></i></a>
				<a href="https://github.com/codedbykids-curriculum"><i class="fa fa-github-square fa-3x img-light social-icons" aria-hidden="true"></i></a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 sec-text-small">
				<p>
					&copy; 2016 Coded by Kids.
				</p>
			</div>
		</div>
	</footer>
</template>
