<template name="home">
  <div class="" id="sec-1">
    <div class="row" id="main-heading">
      <div class="col-md-12" id="home">
        <h1>Project Based Coding Classes For Children</h1>
      </div>
    </div>
    <div class="row" id="main-menu">
      <div class="col-md-4 main-img">
        <a href="{{pathFor 'parents'}}" ><img class="main-menu-imgs" src="img/parents.png" alt="Information for Parents" /></a>
        <h2>Parents</h2>
      </div>
      <div class="col-md-4 main-img">
        <a href="{{pathFor 'volunteers'}}"><img class="main-menu-imgs" src="img/volunteers.png" alt="Information for Parents" /></a>
        <h2>Volunteers</h2>
      </div>
      <div class="col-md-4 main-img">
        <a href="{{pathFor 'educators'}}"><img class="main-menu-imgs" src="img/educators.png" alt="Information for Parents" /></a>
        <h2>Educators</h2>
      </div>
    </div>
  </div>
  <div class="" id="sec-2">
    <div class="top-border" id="about-us">

    </div>
    <div class="row" id="">
      <div class="col-md-12 title">
        <h2 class="sec-title">About Us</h2>
      </div>
    </div>
    <div class="main-border"></div>
    <div class="row">
      <div class="col-md-12 title">
        <h3 class="sec-title-2">Our Mission</h3>
      </div>
    </div>
    <div class="row">
      <div class="sec-text">
        <p>
          Coded by Kids is committed to providing free tech education, tech industry exposure
          and career mentorship to children who lack access to these opportunities. Our programs
          are designed to help our students achieve success by providing  them with a combination
          of real world tech skills and access to a support system of mentors with experience in
          the tech industry.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 title">
        <h3 class="sec-title-2">Our Organization</h3>
      </div>
    </div>
    <div class="row">
      <div class="sec-text">
        <p>
          Coded by Kids provides free coding, digital design and computer science education programs
          to children between the ages of 5 and 18 years old. Held in community spaces, including rec
          centers, each weekly program is designed to expose students to the world of technology and
          equip them with the skills to be successful in the tech industry. Our educational philosophy
          emphasizes project-based learning and mentorship, enabling students to develop meaningful
          projects while interacting with experienced industry professionals.
        </p>
        <br>
        <p>
          In addition to free weekly classes, Coded by Kids partners with elementary, middle and high
          schools to provide project based tech education programs to their students. These partnerships
          allow schools to incorporate our education programs into their curriculum, ensuring they are
          teaching the latest technologies and tech industry best practices.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 title">
        <h3 class="sec-title-2">Our Core Values</h3>
      </div>
    </div>
    <div class="row">
      <div class="sec-text">
        <ul id="core-values">
          <li>Community</li>
          <li>Diversity</li>
          <li>Perseverance</li>
          <li>Curiosity</li>
          <li>Creativity</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="" id="sec-3">
    <div class="top-border" id="partner">

    </div>
    <div class="row" id="">
      <div class="col-md-12 title">
        <h2 class="sec-title">Partner With Us</h2>
      </div>
    </div>
    <div class="main-border"></div>
    <div class="row">
      <div class="col-md-12 title">
        <h3 class="sec-title-2">What kind of organizations do we partner with?</h3>
      </div>
    </div>
    <div class="row">
      <div class="sec-text">
        <p>
          Partnerships with organizations that range from traditional schools to tech startups are
          critical to our success. We currently partner with schools, community organizations,
          nonprofits, education management organizations, faith based organizations, tech companies
          and non-tech companies with significant tech operations.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 title">
        <h3 class="sec-title-2">What kind of partnerships do we look for?</h3>
      </div>
    </div>
    <div class="row">
      <div class="sec-text">
        <p>
          Curriculum development - To ensure the latest tools, processes and technologies
          drive our curriculum we partner with tech and tech enabled companies that are willing
          to use their domain expertise to guide us in the curriculum development process.
        </p>
        <br>
        <p>
          After school or in school program delivery - Coded by Kids partners with elementary,
          middle and high schools to provide project based tech education programs to their students.
          These partnerships allow schools to incorporate our education programs into their
          curriculum, ensuring they are teaching the latest technologies and tech industry best
          practices.
        </p>
        <br>
        <p>
          Community driven program design and delivery - Coded by Kids works with community driven
          organizations that range from youth sports teams and nonprofits to faith based organizations
          to design and implement education programs for their communities.
        </p>
        <br>
        <p>
          Internship and apprenticeship programs - We continually look for opportunities to place our
          teenage students into internships and apprenticeships. These programs enable our students to
          supplement their educations with real world experience.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 title">
        <h3 class="sec-title-2">Are you interested in partnering with us?</h3>
      </div>
    </div>
    <div class="row">
      <div class="sec-text">
        <p>
          To learn more about opportunities to partner with us please complete our contact form.
        </p>
      </div>
    </div>
  </div>
  <div class="" id="sec-4">
    <div class="top-border" id="programs">

    </div>
    <div class="row" id="">
      <div class="col-md-12 title">
        <h2 class="sec-title">Our Programs</h2>
      </div>
    </div>
    <div class="main-border"></div>
    <div class="row">
      <div class="col-md-12 title">
        <h3 class="sec-title-2">Free Weekly Recreation Center Classes</h3>
      </div>
    </div>
    <div class="row">
      <div class="sec-text">
        <p>
          Every Thursday evening (5 - 6pm) and Saturday morning (10 - 11am) Coded by Kids
          runs classes at the Marian Anderson Recreation Center for children and teenagers
          between the ages of 5 and 18. These classes are designed to teach students
          development and digital design through hands on projects.
        </p>
        <br>
        <h4 class="par-title">Recreation Center Tracks</h4>
        <span class="sent-title">1. Web Development </span><p></p>
        <span class="sent-title">2. UI/UX Design </span><p></p>
        <span class="sent-title">3. Data Science </span><p></p>
        <span class="sent-title">4. Startup Entrepreneurship </span><p></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 title">
        <h3 class="sec-title-2">School Programs</h3>
      </div>
    </div>
    <div class="row">
      <div class="sec-text">
        <p>
          Coded by Kids works with elementary, middle and high schools to design and implement coding focused
          in school and after school programs.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 title">
        <h3 class="sec-title-2">Summer Camps</h3>
      </div>
    </div>
    <div class="row">
      <div class="sec-text">
        <p>
          Coded by Kids runs summer camps that are designed to introduce children of all ages to coding concepts.
        </p>
      </div>
    </div>
  </div>
  <div class="" id="sec-8">
    <div class="top-border" id="contact">

    </div>
    <div class="row" id="">
      <div class="col-md-12 title">
        <h2 class="sec-title">Contact Us</h2>
      </div>
    </div>
    <div class="main-border"></div>
    {{> contactForm}}
  </div>
  <footer>

  </footer>
</template>
