<template name="home">
  <div class="" id="sec-1">
    <div class="row" id="main-heading">
      <div class="col-md-12">
        <h1>Project Based Coding Classes For Children</h1>
      </div>
    </div>
    <div class="row" id="main-menu">
      <div class="col-md-4 main-img">
        <img class="main-menu-imgs" src="img/parents.png" alt="Information for Parents" />
        <h2>Parents</h2>
      </div>
      <div class="col-md-4 main-img">
        <img class="main-menu-imgs" src="img/volunteers.png" alt="Information for Parents" />
        <h2>Volunteers</h2>
      </div>
      <div class="col-md-4 main-img">
        <img class="main-menu-imgs" src="img/educators.png" alt="Information for Parents" />
        <h2>Educators</h2>
      </div>
      <div class="col-md-4">

      </div>
    </div>
  </div>
</template>
