<template name="parents">
  <div class="" id="sec-5">
    <div class="top-border" id="parents">

    </div>
    <div class="row" id="">
      <div class="col-md-12 title">
        <h2 class="sec-title">Info for Parents</h2>
      </div>
    </div>
    <div class="main-border"></div>
    <div class="row">
      <div class="col-md-12 title">
        <h3 class="sec-title-2">Free Weekly Recreation Center Classes</h3>
      </div>
    </div>
    <div class="row">
      <div class="sec-text">
        <p>
          Every week Coded by Kids runs classes at the .
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 title">
        <h3 class="sec-title-2">School Programs</h3>
      </div>
    </div>
    <div class="row">
      <div class="sec-text">
        <p>
          Coded by Kids works with public, charter and private schools .
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 title">
        <h3 class="sec-title-2">Summer Camps</h3>
      </div>
    </div>
    <div class="row">
      <div class="sec-text">
        <p>
          Coded by Kids works with public, charter and private schools .
        </p>
      </div>
    </div>
  </div>
</template>
