/* Global */
@font-face {
    font-family: 'BebasRegular';
    src: url('font/BEBAS___-webfont.eot');
    src: url('font/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/BEBAS___-webfont.woff') format('woff'),
         url('font/BEBAS___-webfont.ttf') format('truetype'),
         url('font/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
img{
  width: 100%;
}
html,body{
	width:100%;
	height:100%;
  padding: 0px 0px 0px 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
h1{
  font-family: 'BebasRegular';
  font-weight: normal;
  font-size: 42px;
  text-transform: uppercase;
  word-spacing: 16px;
  letter-spacing: 1px;
}
h2{
  color: white;
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
}
p{
  color: #626262;
}
li{
  color: #626262;
}
.container{
  width: 100%;
  padding: 0px 0px 0px 0px;
}
.row{
  width: 100%;
  padding: 0px 0px 0px 0px;
  margin-right: 0px;
  margin-left: 0px;
}
.navbar{
  background-color: white;
  height: 90px;
}
.nav{
  padding: 20px 0 0 0;
}
.navbar-right{
  padding-right: 40px;
}
.sec-title{
  color: #3e3e3e;
  padding: 0 0 0 0;

}
.sec-title-2{
  color: #858585;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.sec-text{
  padding: 20px 200px 20px 200px;
  text-align: justify;
  font-size: 16px;
}
.par-title{
  font-size: 20px;
  font-weight: bold;
  color: #858585;
}
.sent-title{
  font-size: 16px;
  color: #626262;
}
#logo{
  padding-left: 40px;
}

/* Section 1 */
.main-menu-imgs{
  width: 60%;
}
.main-img{
  padding: 0 0 20px 0;
}
#main-sec{
  padding: 70px 0 0 0px;
  width: 100%;
}
#sec-1{
  background-color: #a2d0ff;
  width: 100%;
  height: 894px;
  padding: 40px 0 0 0;
}
#main-heading{
  text-align: center;
  width: 100%;
  color: white;
  padding: 20px 0 0 0;
}
#main-menu{
  padding: 40px 0 0 0;
  text-align: center;
}

/* Section 2 */
#about-us{
  background-image: url(img/top-image-1.png);
  background-position: center;
  height: 200px;
}
#sec-2{
  background-color: #ECF0F1;
  height: 1080px;
}
.main-border {
  width: 50px;
  border-bottom: 2px solid #E74C3C;
  margin: 0px auto;
  margin-bottom: 25px;
}
.title{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0px;
  margin: 0 0 0 0;
}
#core-values{
  list-style: none;
  padding-left: 0px;
  text-align: center;
}

/* Section 3 */
#sec-3{
  background-color: white;
  height: 1200px;
}
#partner{
  background-image: url(img/top-image-2.png);
  background-position: center;
  height: 200px;
}

/* Section 4 */
#sec-4{
    background-color: #ECF0F1;
    height: 1080px;
}
#programs{
  background-image: url(img/top-image-3.png);
  background-position: center;
  height: 200px;
}

/* Section 5 */
#sec-5{
    background-color: #A3DCFF;
    height: 880px;
}

/* Section 6 */
#sec-6{
    background-color: #97C9E8;
    height: 920px;
}

/* Section 7 */
#sec-7{
    background-color: #DFD1E8;
    height: 920px;
}
