/* Mobile HD */
@media screen and (min-width: 350px) and (max-width: 760px){
  /**Global**/
  img{
    max-width:60%;
    width:auto\9;
    height:auto;
  }
  h1{
    font-weight: 700;
    font-size: 26px;
  }
  h2{
    font-weight: 600;
    font-size: 26px;
  }
  .navbar{
    height: 64px;
  }
  .navbar-toggle{
    margin-right: 25px;
    margin-top: 12px;
  }
  .navbar-brand{
    padding: 0px 0px 0px 0px;
    width: 300px;
  }
  .nav{
    padding-left: 10px;
    background-color: white;
  }
  .main-menu-imgs{
    width: 40%;
  }
  .main-img{
    padding: 0 0 50px 0;
  }
  .sec-text{
    padding: 20px 20px 20px 20px;
    text-align: justify;
    font-size: 16px;
  }
  #logo{
    padding-left: 28px;
    padding-top: 16px;
  }
  #main-sec{
    padding: 28px 0 0 0px;
  }
  #sec-1{
    height: 1300px;
  }
  #main-heading{
    padding: 28px 0 0 0;
  }
  /* Section 1 */


  /* Section 2 */
  #sec-2{
    height: 1420px;
  }

  /* Section 3 */
  #sec-3{
    height: 1020px;
  }
}

/* Mobile LD */
@media screen and (max-width: 350px){
  /**Global**/
  img{
    max-width:60%;
    width:auto\9;
    height:auto;
  }
  h1{
    font-weight: 700;
    font-size: 22px;
  }
  h2{
    font-weight: 600;
    font-size: 20px;
  }
  .navbar{
    height: 66px;
  }
  .navbar-toggle{
    margin-right: 25px;
    margin-top: 16px;
  }
  .navbar-brand{
    padding: 0px 0px 0px 0px;
    width: 250px;
  }
  .nav{
    padding-left: 10px;
    background-color: white;
  }
  .main-menu-imgs{
    width: 30%;
  }
  .main-img{
    padding: 0 0 50px 0;
  }
  .sec-text{
    padding: 20px 20px 20px 20px;
    text-align: justify;
    font-size: 16px;
  }
  #logo{
    padding-left: 24px;
    padding-top: 20px;
  }
  #main-sec{
    padding: 20px 0 0 0px;
  }
  #main-heading{
    padding: 20px 0 0 0;
  }

  /* Section 1 */


  /* Section 2 */
  #sec-2{
    height: 1420px;
  }

  /* Section 3 */
  #sec-3{
    height: 1020px;
  }
}
