.form-group{
  padding: 0px 20px 0px 60px;
}
.form-control{
  width: 420px;
}
#contact-submit{
  padding: 0px 20px 0px 60px;
}
@media screen and (min-width: 350px) and (max-width: 760px){
  .form-group{
    padding: 0px 10px 0px 10px;
  }
  .form-control{
    width: 280px;
  }
}
@media screen and (max-width: 350px){
  .form-group{
    padding: 0px 10px 0px 10px;
  }
  .form-control{
    width: 280px;
  }
}
