<template name="addStudentModal">
    <div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="general-form" id="studentForm">
                    <div class="modal-header">
                        <button type="button" class="close closeButton" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add a New Student</h4>
                    </div>
                    <div class="modal-body">
                        {{> addStudent}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="closeButton" class="closeButton btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
