<template name="editStudentModal">
    <div class="modal fade" id="editStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="editStudentForm">
                    <div class="modal-header">
                        <button type="button" class="close closeButton" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add a New Student</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                          <label>Students</label>
                      		<select class="form-control" id="selectedStudent" name="selectedStudent">
                      			{{#each students}}
                      				<option value="{{_id}}">{{first_name}} {{last_name}}</option>
                      			{{/each}}
                      		</select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="closeButton" class="closeButton btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
