<template name="levelsModal">
    <div class="modal fade" id="editStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="levelForm">
                    <div class="modal-header">
                        <button type="button" class="close closeButton" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Level History</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                          <h3>Completed Levels: </h3>
                          <!--list all completed levels, with start, projected end dates and actual end dates
                              show current level and be able to mark completed with date
                              if no current level for a category
                                set new current level (only show uncompleted options)
                                set start date and projected end date                      
                          -->

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="closeButton" class="closeButton btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
