<template name="studentAttendanceModal">
    <div class="modal fade" id="studentAttendanceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="studentAttendanceForm" class="form-inline">
                    <div class="modal-header">
                        <button type="button" class="close closeButton" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Take Attendance</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="program" class="control-label">Select class: </label>
                                <select id="program" name="program" class="form-control">
                                    <option value="" disabled selected>---</option>
                                    {{#each programs}}
                                    <option value="{{_id}}">{{display_name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="attendanceDate" class="control-label">For date: </label>
                                <br>
                                <input name="attendanceDate" id="attendanceDate" type="date" value="{{getToday}}" class="form-control" />
                            </div>
                        </div>
                        <br>
                        <div class="row">
                          {{#each student}}
                          <div class="row">
                              <input type="checkbox" name="students" value="{{_id}}" class="form-control">
                              <label>{{first_name}} {{last_name}}</label>
                          </div>
                          {{/each}}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="closeButton" class="closeButton btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
