<template name="addStudent">
    <div class="" id="enrollment-form-sec">
        <div class="top-border" id="about-us">

        </div>
        <div class="container padding-30 background-grey">
            <div class="col-md-10 col-md-push-1">
                <h1 class="form-title">Student Enrollment</h1>
                <div class="alert alert-success collapse" id="success">
                    Student added
                </div>
                <form class="general-form" id="addStudent">
                    <div class="row padding-10">
                        <div class="form-group">
                            <h2 style="color: #4BADA2"><span class="glyphicon glyphicon-user"></span> Student Profile</h2>

                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="first_name">First Name</label>
                                    <input name="first_name" id="first_name" type="text" value="" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="last_name">Last Name</label>
                                    <input name="last_name" id="last_name" type="text" value="" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="dob">Date of Birth</label>
                                    <input name="dob" id="dob" type="date" value="" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="gender">Gender</label>
                                    <div id="gender">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="gender" value="Male">Male</label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="gender" value="Female">Female</label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="gender" value="Other" id="otherGender">Other</label>
                                        <br>
                                        <label class="hidden control-label" name="otherGenderLabel">Please specify:</label>
                                        <input type="text" class="hidden form-control" name="otherGenderText" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="race_ethnicity">Race/Ethnicity</label>
                                    <div class="container" id="race_ethnicity">
                                        <label class="checkbox-inline no_indent">
                                            <input type="checkbox" name="race_ethnicity" value="White">White</label>
                                        <label class="checkbox-inline no_indent">
                                            <input type="checkbox" name="race_ethnicity" value="Hispanic or Latino">Hispanic or Latino</label>
                                        <label class="checkbox-inline no_indent">
                                            <input type="checkbox" name="race_ethnicity" value="Black or African American">Black or African American</label>
                                        <label class="checkbox-inline no_indent">
                                            <input type="checkbox" name="race_ethnicity" value="Native American or American Indian">Native American or American Indian</label>
                                        <label class="checkbox-inline no_indent">
                                            <input type="checkbox" name="race_ethnicity" value="Asian / Pacific Islander">Asian / Pacific Islander</label>
                                        <label class="checkbox-inline no_indent">
                                            <input type="checkbox" name="race_ethnicity" value="Other" id="otherRace">Other</label>
                                    </div>
                                    <label class="hidden control-label" name="otherRaceLabel">Please specify:</label>
                                    <input type="text" class="hidden form-control" name="otherRaceText" value="">
                                </div>
                            </div>
                            <div class="col-sm-6">

                            </div>
                        </div>
                    </div>

                    <div class="row padding-10">
                        <div class="form-group">
                            <h2 style="color: #4BADA2"><span class="glyphicon glyphicon-list-alt"></span> Parent Profile</h2>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="parent_first_name">First Name <span style="color:red">*</span></label>
                                    <input name="parent_first_name" id="parent_first_name" type="text" value="" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="parent_last_name">Last Name <span style="color:red">*</span></label>
                                    <input name="parent_last_name" id="parent_last_name" type="text" value="" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="email">Email Address <span style="color:red">*</span></label>
                                    <input name="parent_email" id="parent_email" type="email" value="" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="phone">Phone Number <span style="color:red">*</span></label>
                                    <input name="parent_phone" id="parent_phone" type="text" value="" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="parent_dob">Date of Birth <span style="color:red">*</span></label>
                                    <input name="parent_dob" id="parent_dob" type="date" value="" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="parent_race_ethnicity">Race/Ethnicity <span style="color:red">*</span></label>
                                    <div class="container" id="parent_race_ethnicity">
                                        <label class="checkbox-inline no_indent">
                                            <input type="checkbox" name="parent_race_ethnicity" value="White">White</label>
                                        <label class="checkbox-inline no_indent">
                                            <input type="checkbox" name="parent_race_ethnicity" value="Hispanic or Latino">Hispanic or Latino</label>
                                        <label class="checkbox-inline no_indent">
                                            <input type="checkbox" name="parent_race_ethnicity" value="Black or African American">Black or African American</label>
                                        <label class="checkbox-inline no_indent">
                                            <input type="checkbox" name="parent_race_ethnicity" value="Native American or American Indian">Native American or American Indian</label>
                                        <label class="checkbox-inline no_indent">
                                            <input type="checkbox" name="parent_race_ethnicity" value="Asian / Pacific Islander">Asian / Pacific Islander</label>
                                        <label class="checkbox-inline no_indent">
                                            <input type="checkbox" name="parent_race_ethnicity" value="Other" id="otherParentRace">Other</label>
                                    </div>
                                    <label class="hidden control-label" name="otherRaceParentLabel">Please specify:</label>
                                    <input type="text" class="hidden form-control" name="otherRaceParentText" value="">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row padding-10">
                        <div class="form-group">
                            <h2 style="color: #4BADA2"><span class="glyphicon glyphicon-home"></span> Address</h2>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="address1">Address <span style="color:red">*</span></label>
                                    <input name="address1" id="address1" type="text" value="" class="form-control" />
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="address2">&nbsp;</label>
                                    <input name="address2" id="address2" type="text" value="" placeholder="Apt/Unit" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="city">City <span style="color:red">*</span></label>
                                    <input name="city" id="city" type="text" value="" class="form-control" />
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="state">State <span style="color:red">*</span></label>
                                    <select name="state" id="state" type="text" value="" class="form-control">
                                        <option value="AL">Alabama</option>
                                        <option value="AK">Alaska</option>
                                        <option value="AZ">Arizona</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="CA">California</option>
                                        <option value="CO">Colorado</option>
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="DC">District Of Columbia</option>
                                        <option value="FL">Florida</option>
                                        <option value="GA">Georgia</option>
                                        <option value="HI">Hawaii</option>
                                        <option value="ID">Idaho</option>
                                        <option value="IL">Illinois</option>
                                        <option value="IN">Indiana</option>
                                        <option value="IA">Iowa</option>
                                        <option value="KS">Kansas</option>
                                        <option value="KY">Kentucky</option>
                                        <option value="LA">Louisiana</option>
                                        <option value="ME">Maine</option>
                                        <option value="MD">Maryland</option>
                                        <option value="MA">Massachusetts</option>
                                        <option value="MI">Michigan</option>
                                        <option value="MN">Minnesota</option>
                                        <option value="MS">Mississippi</option>
                                        <option value="MO">Missouri</option>
                                        <option value="MT">Montana</option>
                                        <option value="NE">Nebraska</option>
                                        <option value="NV">Nevada</option>
                                        <option value="NH">New Hampshire</option>
                                        <option value="NJ">New Jersey</option>
                                        <option value="NM">New Mexico</option>
                                        <option value="NY">New York</option>
                                        <option value="NC">North Carolina</option>
                                        <option value="ND">North Dakota</option>
                                        <option value="OH">Ohio</option>
                                        <option value="OK">Oklahoma</option>
                                        <option value="OR">Oregon</option>
                                        <option value="PA">Pennsylvania</option>
                                        <option value="RI">Rhode Island</option>
                                        <option value="SC">South Carolina</option>
                                        <option value="SD">South Dakota</option>
                                        <option value="TN">Tennessee</option>
                                        <option value="TX">Texas</option>
                                        <option value="UT">Utah</option>
                                        <option value="VT">Vermont</option>
                                        <option value="VA">Virginia</option>
                                        <option value="WA">Washington</option>
                                        <option value="WV">West Virginia</option>
                                        <option value="WI">Wisconsin</option>
                                        <option value="WY">Wyoming</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="zip">Zip <span style="color:red">*</span></label>
                                <input name="zip" id="zip" type="text" value="" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row padding-10">
                        <div class="form-group">
                            <h2 style="color: #4BADA2"><span class="glyphicon glyphicon-alert"></span> Emergency Contact</h2>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="eme_contact">Name <span style="color:red">*</span></label>
                                <input name="eme_contact" id="eme_contact" type="text" value="" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="eme_number">Number <span style="color:red">*</span></label>
                                <input name="eme_number" id="eme_number" type="text" value="" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row padding-10">
                        <div class="form-group">
                            <h2 style="color: #4BADA2"><span class="glyphicon glyphicon-list-alt"></span> Program</h2>
                            <p style="color: #4BADA2; font-style: italic">Select the type of program you want to enroll your child in, then the location and time. Click 'Select' to save this choice. You can enroll in as many programs as you'd like.</p>
                            <div class="form-group">
                                <input type="hidden" name="enrolledPrograms" id="enrolledPrograms">
                            </div>
                        </div>
                        {{#if enrolledProgramsTrue}}
                        <div class="col-sm-12">
                            <div class="form-group">
                                <h3>Selected Programs:</h3> {{#each enrolledPrograms}} {{> enrolledProgramItem}} {{/each}}
                            </div>
                        </div>
                        {{/if}}
                        <div class="col-sm-4">
                            <div class="form-group">
                                <p>Would you like to enroll in a...</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div>
                                    <select name="program_type" id="program_type" class="form-control">
                                        <option disabled selected value> -- select an option -- </option>
                                        <!--<option value="Summer Camp">Summer Camp</option>-->
                                        <option value="Community Center">Community Center Class</option>
                                        <option disabled value>more coming soon...</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="program_location">Location</label>
                                <select name="program_location" id="program_location" class="form-control">
                                    {{#each programLocations}}
                                    <option value="{{name}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="program_time">Time</label>
                                <select name="program_time" id="program_time" class="form-control">
                                    {{#each programTimes}}
                                    <option value="{{_id}}">
                                        {{#if summerCamp}} {{session_start_date}} - {{session_end_date}}, {{/if}} {{day_of_week}}, {{timeFormat start_time}} - {{timeFormat end_time}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        {{#if summerCamp}}
                        <div class="col-sm-12">
                            <div class="form-group">
                                <p>Before and after care (one hour before and one hour after class) can be selected at checkout</p>
                            </div>
                        </div>
                        {{/if}}
                        <div class="col-sm-6 col-sm-push-6">
                            <input type="button" class="btn pull-right blue-button" value="Select" id="anotherProgram">
                        </div>
                    </div>
                    <div class="row padding-10">
                        <div class="form-group">
                            <h2 style="color: #4BADA2"><span class="glyphicon glyphicon-education"></span> Education History</h2>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="current_grade">Current Grade</label>
                                <div>
                                    <select name="current_grade" id="current_grade" class="form-control">
                                        <option value="K">Kindergarten</option>
                                        <option value="1">1st</option>
                                        <option value="2">2nd</option>
                                        <option value="3">3rd</option>
                                        <option value="4">4th</option>
                                        <option value="5">5th</option>
                                        <option value="6">6th</option>
                                        <option value="7">7th</option>
                                        <option value="8">8th</option>
                                        <option value="9">9th</option>
                                        <option value="10">10th</option>
                                        <option value="11">11th</option>
                                        <option value="12">12th</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="elm_school">Elementary School
                                    <p class="help-block" style="display: inline; font-style: italic;">if applicable</p>
                                </label>
                                <input name="elm_school" id="elm_school" type="text" value="" class="form-control" />
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="middle_school">Middle School
                                    <p class="help-block" style="display: inline; font-style: italic;">if applicable</p>
                                </label>
                                <input name="middle_school" id="middle_school" type="text" value="" class="form-control" />
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="high_school">High School
                                    <p class="help-block" style="display: inline; font-style: italic;">if applicable</p>
                                </label>
                                <input name="high_school" id="high_school" type="text" value="" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-push-4 text-center" style="padding-bottom: 10px">
                        <button type="submit" class="btn btn-block blue-button">Submit</button>
                    </div>
                </form>
            </div>
            <div class="modal fade" id="anotherStudent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #4BADA2">
                            <h4>Enroll another student?</h4>
                            <br>
                            <button type="submit" class="btn btn-default reg-btn" id="yes">Yes</button>
                            <button type="submit" class="btn btn-default reg-btn" id="no">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
