<template name ="editStudent">
	<div class="container padding-15">
   <div class="col-md-10 col-md-push-1">
    <h3>Edit Student</h3>
    <form class="general-form">
      <div class="row well well-sm padding-10">
        <div class="col-sm-6">
            <div class="form-group {{errorClass 'first_name'}}">
              <label class="control-label" for="first_name">First Name</label>
              <div>
                <input name="first_name" id="first_name" type="text" value="{{first_name}}" class="form-control"/>
                <span class="help-block">{{errorMessage 'first_name'}}</span>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group {{errorClass 'last_name'}}">
              <label class="control-label" for="last_name">Last Name</label>
              <div>
                <input name="last_name" id="last_name" type="text" value="{{last_name}}" class="form-control"/>
                <span class="help-block">{{errorMessage 'last_name'}}</span>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group {{errorClass 'dob'}}">
              <label class="control-label" for="dob">Date of Birth</label>
              <div>
                <input name="dob" id="dob" type="date" value="{{dob}}" class="form-control"/>
                <span class="help-block">{{errorMessage 'dob'}}</span>
              </div>
            </div>
          </div>  

          <div class="col-sm-6">
            <div class="form-group {{errorClass 'parent_email'}}">
              <label class="control-label" for="parent_email">Parent Email</label>
              <div>
                <input name="parent_email" id="parent_email" type="text" value="{{parent_email}}" class="form-control"/>
                <span class="help-block">{{errorMessage 'parent_email'}}</span>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
             <div class="form-group {{errorClass 'phone'}}">
                <label class="control-label" for="phone">Phone</label>
                  <div>
                    <input name="phone" id="phone" type="text" value="{{phone}}" class="form-control"/>
                    <span class="help-block">{{errorMessage 'phone'}}</span>
                  </div>
             </div>
          </div>

         <div class="col-sm-6">
          <div class="form-group {{errorClass 'program'}}">
              <label class="control-label" for="program">Program Type</label>
              <div>
                <select name="program" id="program">
                  <option value="{{program}}" selected>{{program}}</option>
                  <option value="Community Center">Community Center</option>
                  <option value="School">School</option>
                  <option value="Summer Camp">Summer Camp</option>
                </select>
                <span class="help-block">{{errorMessage 'program'}}</span>
              </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group {{errorClass 'pictures_allowed'}}">
            <label class="control-label" for="pictures_allowed">Pictures Allowed?</label>
            <div>
              <select name="pictures_allowed" id="pictures_allowed">
                <option value={{pictures_allowed}}>{{pictures_allowed}}</option>
                <option name="pictures_allowed" value="yes">Yes</option>
                <option name="pictures_allowed" value="no">No</option>
              </select>
              <span class="help-block">{{errorMessage 'pictures_allowed'}}</span>
            </div>
          </div>
        </div>
        </div>

        <div class="row well well-sm padding-10">
        <div class="col-sm-6">
          <div class="form-group {{errorClass 'address1'}}">
              <label class="control-label" for="address1">Address</label>
              <div>
                <input name="address1" id="address1" type="text" value="{{address1}}" placeholder="Street" class="form-control"/>
                <span class="help-block">{{errorMessage 'address1'}}</span>
              </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label" for="address2">&nbsp;</label>
            <div>
                <input name="address2" id="address2" type="text" value="{{address2}}" placeholder="Apt/Suite/Unit Number" class="form-control"/>
              </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group {{errorClass 'city'}}">
              <label class="control-label" for="city">City</label>
                <div>
                  <input name="city" id="city" type="text" value="{{city}}" class="form-control"/>
                  <span class="help-block">{{errorMessage 'city'}}</span>
                </div>
          </div>
        </div>
        
        <div class="col-sm-6">
          <div class="form-group {{errorClass 'state'}}">
              <label class="control-label" for="state">State</label>
              <div>
                <input name="state" id="state" type="text" value="{{state}}" class="form-control"/>
                <span class="help-block">{{errorMessage 'state'}}</span>
              </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group {{errorClass 'zip'}}">
              <label class="control-label" for="zip">Zip Code</label>
              <div>
                <input name="zip" id="zip" type="text" value="{{zip}}" class="form-control"/>
                <span class="help-block">{{errorMessage 'zip'}}</span>
              </div>
          </div>
        </div>
        </div>
        <div class="row well well-sm padding-10">
        <div class="col-sm-6">
          <div class="form-group {{errorClass 'eme_contact'}}">
              <label class="control-label" for="eme_contact">Emergency Contact</label>
                <div>
                  <input name="eme_contact" id="eme_contact" type="eme_contact" value="{{eme_contact}}" class="form-control"/>
                  <span class="help-block">{{errorMessage 'eme_contact'}}</span>
                </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group {{errorClass 'eme_number'}}">
              <label class="control-label" for="eme_number">&nbsp;</label>
                <div>
                  <input name="eme_number" id="eme_number" type="eme_number" value="{{eme_number}}" placeholder="Number" class="form-control"/>
                  <span class="help-block">{{errorMessage 'eme_number'}}</span>
                </div>
          </div>
        </div>
        </div>
       
       <div class="row well well-sm padding-10">
        <div class="col-sm-6">
          <div class="form-group {{errorClass 'elm_school'}}">
            <label class="control-label" for="elm_school">Elementary School</label>
            <div>
              <input name="elm_school" id="elm_school" type="text" value="{{elm_school}}" class="form-control"/>
              <span class="help-block">{{errorMessage 'elm_school'}}</span>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group {{errorClass 'middle_school'}}">
            <label class="control-label" for="middle_school">Middle School</label>
            <div>
              <input name="elm_school" id="middle_school" type="text" value="{{middle_school}}" class="form-control"/>
              <span class="help-block">{{errorMessage 'middle_school'}}</span>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group {{errorClass 'high_school'}}">
            <label class="control-label" for="high_school">High School</label>
            <div>
              <input name="high_school" id="high_school" type="text" value="{{high_school}}" class="form-control"/>
              <span class="help-block">{{errorMessage 'high_school'}}</span>
            </div>
          </div>
        </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
      </form>
      </div>
  </div>      
</template>