<template name="editStudent">
	<div class="container padding-15">
		<div class="col-md-10 col-md-push-1">
			<h3>Edit Student</h3>
			<form class="general-form" id="editStudentForm">
				<div class="container">
					<div class="row well well-sm padding-10">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label" for="first_name">First Name</label>
									<input name="first_name" id="first_name" type="text" value="{{first_name}}" class="form-control" />
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label" for="last_name">Last Name</label>
									<input name="last_name" id="last_name" type="text" value="{{last_name}}" class="form-control" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label" for="dob">Date of Birth</label>
									<input name="dob" id="dob" type="date" value="{{dob}}" class="form-control" />
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label" for="gender">Gender</label>
									<div id="gender">
										<label class="checkbox-inline">
											<input type="checkbox" name="gender" value="Male" checked="{{genderChecked 'Male'}}">Male</label>
										<label class="checkbox-inline">
											<input type="checkbox" name="gender" value="Female" checked="{{genderChecked 'Female'}}">Female</label>
										<label class="checkbox-inline">
											<input type="checkbox" name="gender" value="Trans" checked="{{genderChecked 'Trans'}}">Trans</label>
										<label class="checkbox-inline">
											<input type="checkbox" name="gender" value="Undisclosed" checked="{{genderChecked 'Undisclosed'}}">Prefer not to disclose</label>
										<label class="checkbox-inline">
											<input type="checkbox" name="gender" value="Other" id="otherGender" checked="{{genderChecked 'Other'}}">Other</label>
										<br>
										<label class="hidden control-label" name="otherLabel">Please specify:</label>
										<input type="text" class="hidden form-control" name="otherText" value="">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label" for="race_ethnicity">Race/Ethnicity</label>
									<div id="race_ethnicity">
										<label class="checkbox-inline">
											<input type="checkbox" name="race_ethnicity" value="White" checked="{{raceChecked 'White'}}">White</label>
										<label class="checkbox-inline">
											<input type="checkbox" name="race_ethnicity" value="Hispanic or Latino" checked="{{raceChecked 'Hispanic or Latino'}}">Hispanic or Latino</label>
										<label class="checkbox-inline">
											<input type="checkbox" name="race_ethnicity" value="Black or African American" checked="{{raceChecked 'Black or African American'}}">Black or African American</label>
										<label class="checkbox-inline">
											<input type="checkbox" name="race_ethnicity" value="Native American or American Indian" checked="{{raceChecked 'Native American or American Indian'}}">Native American or American Indian</label>
										<label class="checkbox-inline">
											<input type="checkbox" name="race_ethnicity" value="Asian / Pacific Islander" checked="{{raceChecked 'Asian / Pacific Islander'}}">Asian / Pacific Islander</label>
										<label class="checkbox-inline">
											<input type="checkbox" name="race_ethnicity" value="Other" checked="{{raceChecked 'Other'}}">Other</label>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label" for="pictures_allowed">Pictures Allowed?</label>
									<div>
										<input type="radio" name="pictures_allowed" value="yes" checked="{{picsAllowed}}">Yes
										<br>
										<input type="radio" name="pictures_allowed" value="no" checked="{{picsNotAllowed}}">No
									</div>
								</div>
							</div>
						</div>
					</div>

					<h3>Class</h3>
					<div class="row well well-sm padding-10">
							<div class="col-sm-6">
									<div class="form-group">
											<label class="control-label" for="program_location">Location</label>
											<div>
													<select name="program_location" id="program_location">
															{{#each programLocations}}
															<option value="{{name}}" selected="{{programLocationSelected name}}">{{name}}</option>
															{{/each}}
													</select>
											</div>
									</div>
							</div>

							<div class="col-sm-6">
									<div class="form-group">
											<label class="control-label" for="program_time">Time</label>
											<div>
													<select name="program_time" id="program_time">
															{{#each programTimes}}
															<option value="{{_id}}" selected="{{programTimeSelected _id}}">{{day_of_week}}, {{timeFormat start_time}} - {{timeFormat end_time}}</option>
															{{/each}}
													</select>
											</div>
									</div>
							</div>
					</div>

					<h3>School History</h3>
					<div class="row well well-sm padding-10">
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label" for="elm_school">Elementary School</label>
								<input name="elm_school" id="elm_school" type="text" value="{{elm_school}}" class="form-control" />
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label" for="middle_school">Middle School</label>
								<input name="elm_school" id="middle_school" type="text" value="{{middle_school}}" class="form-control" />
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label" for="high_school">High School</label>
								<input name="high_school" id="high_school" type="text" value="{{high_school}}" class="form-control" />
							</div>
						</div>
					</div>
					<!--admin only level info-->
				</div>
				<input type="submit" value="Submit" class="btn btn-primary" />
			</form>
		</div>
	</div>
</template>
