<template name="studentProfile">
	<div class="col-md-10 col-md-push-1">
	<div class="container padding-30">
		<div class="row">
			<div class="col-sm-8">
				<h2 style="color: black">{{first_name}} {{last_name}}</h2>
			</div>
			<div class="col-sm-4 padding-15">
				<a href="{{pathFor 'editStudent'}}" class="btn btn-primary">Edit</a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Student Information</h4>
					</div>
					<div class="panel-body">
						<h5>Date of Birth: {{dob}}</h5>
						<h5>Program: {{program}}</h5>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Contact Information</h4>
					</div>
					<div class="panel-body">
						<h5>Parent Email: {{parent_email}}</h5>
						<h5>Parent Phone: {{phone}}</h5>
						<h5>Address: {{address1}} {{address2}}</h5>
						<h5>{{city}}, {{state}} {{zip}}</h5>
					</div>
				</div>		
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Emergency Contact Information</h4>
					</div>
					<div class="panel-body">
						<h5>Name: {{eme_contact}}</h5>
						<h5>Number: {{eme_number}}</h5>
					</div>
				</div>		
			</div>	
		</div>

		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>School History</h4>
					</div>
					<div class="panel-body">
						<h5>Elementary: {{elm_school}}</h5>
						<h5>Middle: {{middle_school}}</h5>
						<h5>High: {{high_school}}</h5>
					</div>
				</div>
			</div>		
		</div>
	</div>
	</div>
</template>