<template name= "editPermissionItem">
	<div class = "row">
		<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
	                </div>	            
	                <div class="modal-body">
	                    <p>You are about to remove the {{this}} permission.</p>
	                    <p>Do you want to proceed?</p>	      
	                </div>	                
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	                    <a class="confirmDelete btn btn-danger btn-ok" data-dismiss="modal">Delete</a>
	                </div>
	            </div>
	        </div>
    	</div>

		<div class="col-sm-10">
			<h5>{{this}}</h5>
		</div>
		<div class="col-sm-2 pull-right">
			<a><i id="{{this}}" class="remove glyphicon glyphicon-remove" data-toggle="modal" data-target="#confirm-delete"></i></a>
		</div>
	</div>
</template>