<template name="dashboard">
  <div class="container padding-30">
        <h1 style="padding-left: 10px;">Dashboard</h1>
        <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="box">
                <div class="icon">
                    <div class="image"><span class="glyphicon glyphicon-user btn-lg white"></span></div>
                    <div class="info">
                        <h3 class="title">Volunteers</h3>
                        <p><a href="{{pathFor 'volunteerList'}}">View Volunteers</a></p>
                        {{> addVolunteerModal}}
                        <p><a href="#" data-toggle="modal" data-target="#addVolunteerModal">Add a Volunteer</a></p>
                        <p><a href="#">Edit a Volunteer</a></p>
                        {{> createUserModal}}
                        <p><a href="#" data-toggle="modal" data-target="#createUserModal">Create a User Account</a></p>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box">
                <div class="icon">
                    <div class="image"><span class="glyphicon glyphicon-education btn-lg white"></span></div>
                    <div class="info">
                        <h3 class="title">Students</h3>
                        <p><a href="{{pathFor 'studentList'}}">View Students</a></p>
                        {{> addStudentModal}}
                        <p><a href="#" data-toggle="modal" data-target="#addStudentModal">Add a Student</a></p>
                        <p><a href="#">Edit a Student</a></p>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box">
                <div class="icon">
                    <div class="image"><span class="glyphicon glyphicon-envelope btn-lg white"></span></div>
                    <div class="info">
                        <h3 class="title">Information Requests</h3>
                        {{> allRequestsModal}}
                        <p><a href="#" data-toggle="modal" data-target="#allRequestsModal">All</a></p>
                        <p><a href="#">Parents</a></p>
                        <p><a href="#">Volunteers</a></p>
                        <p><a href="#">Educators</a></p>
                        <p><a href="#">Supporters</a></p>
                        <p><a href="#">Other</a></p>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box">
                <div class="icon">
                    <div class="image"><span class="glyphicon glyphicon-list btn-lg white"></span></div>
                    <div class="info">
                        <h3 class="title">Role Management</h3>
                        {{> addPermissionsModal}}
                        <p><a href="#" data-toggle="modal" data-target="#addPermissionModal">Create a new Permission</a></p>
                        {{> editRolePermissionsModal}}
                        <p><a href="{{pathFor 'editRolePermissions'}}">Edit Role Permissions</a></p>
                        {{> makeAdminModal}}
                        <p><a href="#" data-toggle="modal" data-target="#makeAdminModal">Add a new Admin</a></p>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
    </div>
  </div>
</template>
