<!--page that dashboard routers too, dashboard templates are nested and based on permissions-->
<template name="dashboard">
    <div class="container padding-30">
        <div class="col-md-10 col-md-push-1">
            <div class="row padding-10">
                <h1>Dashboard</h1>
            </div>
            <div class="row padding-30">
                {{#if isInRole 'admin' Roles.GLOBAL_GROUP}}
                    {{> adminDash}}
                {{else}}
                    {{#if isInRole 'parent' 'Parents'}}
                        {{> parentDash}}
                    {{else}}
                        {{> accessDenied}}
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</template>
