<template name="parentDash">
    <h1>Dashboard</h1>
    <div class="row">
        <div class="col-sm-4">
            <div class="spacer"></div>
            <a class="thumbnail" href="#"><h3>View/Edit Profile</h3>
                  <i style="font-size: 4.5vw; padding-top: 10px;" class="glyphicon glyphicon-user"></i></a>
        </div>
        <div class="col-sm-4">
            <div class="spacer"></div>
            <a class="thumbnail" href="#"><h3>Enroll a New Student</h3>
                  <i style="font-size: 4.5vw; padding-top: 10px;" class="glyphicon glyphicon-education"></i></a>
        </div>
        <div class="col-sm-4">
            <div class="spacer"></div>
            <a class="thumbnail" href="#"><h3>View/Edit Current Students</h3>
                  <i style="font-size: 4.5vw; padding-top: 10px;" class="glyphicon glyphicon-plus"></i></a>
        </div>
    </div>
</template>
