<template name="header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#if currentUser}}
        <a class="navbar-brand" id="logo" href="{{pathFor 'home'}}"><img src="img/logo-v5.png" /></a>
        {{else}}
        <a class="navbar-brand" id="logo" href="/#home"><img src="img/logo-v5.png" /></a>
        {{/if}}
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
          <li><a href="{{pathFor 'profile'}}">Profile</a></li>
          <li><a href="{{pathFor 'dashboard'}}">Dashboard</a></li>
          <li><a href="{{pathFor 'signOut'}}">Sign Out</a></li>
          {{else}}
          <li><a href="/#about-us">About</a></li>
          <li><a href="/#partner">Partner</a></li>
          <li><a href="/#programs">Programs</a></li>
          <li><a href="/#contact-us">Contact</a></li>
          <li><a href="{{pathFor 'signIn'}}">Sign In</a></li>
          {{/if}}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</template>
